@import "../../styles/colors";

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.home-wrapper {
  .home-container {
    .intro {
      font-size: 56px;
      line-height: 54px;
      margin-bottom: 20px;
      margin-top: 64px;
      letter-spacing: -0.018em;
      font-weight: 600;
      .main-icon {
        margin-left: 20px;
        animation: rotation 2s infinite linear;
      }
    }
    .sub-intro {
      font-family: "SourceSansProLight";
      font-size: 26px;
    }
    .disclaimer {
      position: absolute;
      width: 100%;
      bottom: 0;
      .disclaimer-text {
        padding: 15px;
        font-size: 14px;
      }
    }
    .home-button {
      margin-top: 20px;
    }
    .home-features {
      padding: 10px;
      .home-feature {
        padding: 10px;
      }
    }
  }
}
